## python playlist vid- 10
In part we are going to learn about

1.StirngIO

2.Pandas read_csv

In [1]:
## Reading Different Data sources with the help if pandas
from io import StringIO

In [3]:
import pandas as pd 
df=pd.read_csv('mercedesbenz.csv')
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
type(df)

pandas.core.frame.DataFrame

In [7]:
data=('col1,col2,col3\n'
     'x,y,1\n'
     'a,b,2\n'
     'c,d,3')

In [8]:
type(data)

str

In [9]:
#in memory file format object
StringIO(data)

In [12]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [14]:
pd.read_csv(StringIO(data),usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [15]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X0','X1','X2','X3','X4','X5'])
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [16]:
df.to_csv('test.csv')

In [17]:
#if we don't want any index than we use this parameter
df.to_csv('test1.csv',index=False)

In [19]:
##datatypes in csv
data =('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [21]:
df=pd.read_csv(StringIO(data))

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [23]:
df=pd.read_csv(StringIO(data),dtype='object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [26]:
df.head()

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [27]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [28]:
df['a']

0    1
1    5
2    9
Name: a, dtype: object

In [30]:
df['a'][0]

'1'

In [ ]:
data =('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [31]:
df=pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':int})

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      float64
 2   c       3 non-null      int32
 3   d       2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 204.0 bytes

In [33]:
df.dtypes

a      int32
b    float64
c      int32
d    float64
dtype: object

In [34]:
data=('index,a,b,c\n'
         '4,apple,bat,5.7\n'
         '8,orange,cow,10')

In [43]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [40]:
# use indec cols and usecols
data=('index,a,b,c\n'
         '4,apple,bat,5.7\n'
         '8,orange,cow,10')

In [45]:
pd.read_csv(StringIO(data),usecols=['index','b','c'],index_col=0)

         b     c
index
4      bat   5.7
8      cow  10.0

In [46]:
# do cgeck other inbuilt parameters also like sep, etc.