## This the first learning video tutorial
--> (python playlist vid -01)

In [1]:
1+2

3

In [2]:
a=10

In [3]:
print(a+5)

15

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## python playlist vid-02

In [8]:
print("hello world")
print("day 2 of learning utsav")

hello world
day 2 of learning utsav

In [21]:
# single line and multiline comments
'''
lets make this festive vacation 
fruitful
'''
print("hello")

hello

In [23]:
# varaible decaration 
a=10
type(a)

int

In [24]:
a

10

In [26]:
hi=10
b=60
c="atg"

In [27]:
type(c)

str

In [31]:
d1= 22

In [33]:
first_name="Ayush"
print(first_name)

Ayush

In [35]:
a=10
b=20
print(a-b)

-10

In [37]:
# typecast converting floating number into integer
a=25.364
type(a)

float

In [38]:
int(a)

25

In [39]:
a

25.364

In [40]:
b

20

In [41]:
float(b)

20.0

In [43]:
#boolean
a1=True
b1=False

In [44]:
type(a1)

bool

In [45]:
a1 and b1

False

In [46]:
a1|b1

True

In [48]:
#stings
name1="hancy"
print(name1)
print(type(name1))

hancy
<class 'str'>

In [49]:
name1+"guffadi"

'hancyguffadi'

In [50]:
name1+str(1)

'hancy1'

In [2]:
#complex numbers
j=1.0-2.3j
j

(1-2.3j)

In [3]:
print(j.real,j.imag)

1.0 -2.3

In [4]:
#Dynamic typing 
a =10
a='ayush'

In [6]:
print(type(a))

<class 'str'>

In [7]:
#strong typing
a="Hello"

In [8]:
a+ "1"

'Hello1'

In [10]:
#string formating
a =100 
print("the value is=",a)

the value is= 100

In [15]:
first_name="Ayush"
last_name="Tamang"
print("The first name is {0} and last name is {1}".format(first_name,last_name))

The first name is Ayush and last name is Tamang

In [16]:
print("The first name is {1} and last name is {0}".format(first_name,last_name))

The first name is Tamang and last name is Ayush

In [17]:
print("The first name is {a} and last name is {b}".format(a=first_name, b=last_name))

The first name is Ayush and last name is Tamang

In [1]:
# input type
a=input("enter the number A ")
b= input("enter the number B ")
print(int(a)+int(b))

enter the number A 45
enter the number B 54
99

# python playlist vid- 03

In [8]:
# if else statement 
val=input("Enter the number")
value_float=float(val)
if(value_float%2 == 0):
    print("The number is even")
else:
    print("the number is odd")

Enter the number45
the number is odd

In [10]:
## Age form
##nested if else condition
age= float(input("Enter the age"))

if(age<18):
    print("Minor Age")
elif(age>18 and age<=35):
    print("Mid Age")
elif(age>45 and age<=50):
    print("senior Mid Age")
else:
    print("Senior Citizen")

Enter the age33
Mid Age

In [2]:
##nested if else
age= float(input("Enter the age "))

if(age<18):
    print("Minor Age")
    if(age<15):
        print("your are in School")
    else:
        print("you are in college")
elif(age>18 and age<=35):
    print("Mid Age")
elif(age>45 and age<=50):
    print("senior Mid Age")
else:
    print("Senior Citizen")

Enter the age 17
Minor Age
you are in college

In [5]:
##loops statement
#for loop, while loop
lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i**2)

1
4
9
16
25
36
49

In [7]:
#find the sum of all the elements in the list
lst=[1,2,3,4,5,6,7]
sum1 = 0
for i in lst:
    sum1 = sum1 + i
print(sum1)

28

In [ ]:
lst=[1,2,3,4,5,6,7]
sum1 = 0
for i in lst:
    sum1 = sum1 + i
    print(sum1)

In [18]:
#find the sum of even and odd number
lst=[1,2,3,4,5,6,7]
even_sum=0 
odd_sum =0
for i in lst:
    if(i%2==0):
        even_sum= even_sum+i
    else:
        odd_sum= odd_sum+ i
print(even_sum)
print(odd_sum)
# or by using string formating
print("Even sum is {} and odd sum is {}".format(even_sum, odd_sum))

12
16
Even sum is 12 and odd sum is 16

In [20]:
##while condition 
i =0
even_sum =0
odd_sum=0
while(i<=10):
    if(i%2==0):
        even_sum= even_sum+i
    else:
        odd_sum= odd_sum+ i
    i = i+1
print(even_sum,odd_sum)

30 25

In [24]:
#break 
x = 1
while(x<7):
    print(x)
       
    x=x+1

1
2
3
4
5
6

In [25]:
x = 1
while(x<7):
    print(x)
    if(x==4):
        break
       
    x=x+1

1
2
3
4

In [28]:
x = 1
while(x<7):
    
    if(x==4):
        break
    print(x)
       
    x=x+1

1
2
3

In [2]:
# continue(skips the statement)
x=0
while(x<7):
    x=x+1
    if(x==4):
        continue
    print(x)

1
2
3
5
6
7

## python playlist vid- 04

### python operators
- logical

- equality

- comparision

- Airthmetic

 ### 4.1.1 Logical Operators,
In python following keywords are used for boolean operations -

    Keywords	Meaning
    not	unary negation
    and	conditional AND
    or	conditional OR

In [11]:
type(False)

bool

In [4]:
bool(1)

True

In [5]:
a = True
b =False

In [6]:
True and False

False

In [7]:
True or False

True

In [8]:
not False

True

In [9]:
age = int(input("Enter the age"))
if(age>18 and age<=35):
    print("mid age")

Enter the age21
mid age

In [10]:
age = int(input("Enter the age"))
if(age>18 or age<=35):
    print("success")

Enter the age15
success

## Equality Operators
Following operations are present in python for equlity check operation-

| Operators | Meaning                                                                 |
|-----------|-------------------------------------------------------------------------|
| `is`      | `a is b` returns true if variable/identifiers `a` and `b` point to the same object  |
| `is not`  | `a is not b` returns true if variable/identifiers `a` and `b` point to different objects |
| `==`      | `a == b` returns true if variable/identifiers `a` and `b` have the same value   |
| `!=`      | `a != b` returns true if variable/identifiers `a` and `b` have different values |

In [12]:
a = "atg"
b = "atg"
a==b

True

In [13]:
a = "atg"
b = "atg1"
a==b

False

In [15]:
age=int(input("Enter the  age"))
if age ==18:
    print("you are teen")

Enter the  age18
you are teen

In [26]:
a = "atg"
b = "atg"
print(id(a))
print(id(b))

2598666911344
2598666911344

In [27]:
a is b

True

In [28]:
a == b

True

In [30]:
lst1 =[1,2,3]
lst2 =[1,2,3]
print(id(lst1))
print(id(lst2))

2598667679232
2598667574144

In [31]:
lst1 == lst2

True

In [32]:
lst1 is lst2

False

In [33]:
lst1 is not lst2

True

## comparison operators
    Operation	 Meaning

    <	less than
    
    <=	less than or equal to
    
    >	greater than
    
    >=	greater than or equal to

In [2]:
marks= float(input("Enter the marks "))
if(marks>=35):
    print("Pass")
    if(marks>=50 and marks<=70):
        print("First")
elif(marks<35):
    pritn("fail")

Enter the marks 55
Pass
First

## Airthmetic operators

    Operation	Meaning
    
    +	addition
    
    -	subtraction
    
    *	multiplication
    
    /	true division
    
    //	integer division
    
    %	the modulo operator

In [3]:
48/4

12.0

In [4]:
48//4

12

In [6]:
##ignores the decimal
48//5

9

In [9]:
48%5

3

## python playlist vid-05

## abs()
abs(x) will return the absolute value of a number x which we pass in argument. The number x can be integer, float, complex,..

In [10]:
#aboslute method
abs(10)

10

In [11]:
abs(-20)

20

In [12]:
abs(34.20)

34.2

In [13]:
abs(-55.02)

55.02

## ceil()
ceil(x) will return the ceiling value of a number x which we pass in argument. The ceiling value of a number x will be the smallest integer not less than x

Note :- This function will not be accessible directly using ceil() method. Math module will be required to access this method.

In [14]:
import math

In [16]:
math.ceil(43.67)

44

In [17]:
math.ceil(43.2)

44

In [19]:
math.ceil(43.05)

44

In [20]:
math.ceil(-44.05)

-44

## floor

In [21]:
math.floor(43.1)

43

In [22]:
math.floor(43.9)

43

In [24]:
math.floor(-43.8)

-44

## exp()
exp(x) will return the exponential value of a number x which we pass in argument.

**Note:- ** This function will not be accessible directly using exp() method. Math module will be required to access this method.

In [25]:
math.exp(10)

22026.465794806718

In [26]:
math.exp(-9)

0.00012340980408667956

## fabs()

In [27]:
math.fabs(10.5)

10.5

In [28]:
math.fabs(-10)

10.0

In [31]:
math.fabs(-0.314*2)

0.628

## log()

In [32]:
math.log(20)

2.995732273553991

In [34]:
math.log(12.45)

2.5217206229107165

In [37]:
#this is log to the base '10'
math.log10(10)

1.0

In [38]:
#this is log to the base 'e'
math.log(10)

2.302585092994046

## Max()

In [41]:
max(10,12,34,543,143,-322)

543

In [45]:
min(21,24,54,-3,35,-32)

-32

## power

In [46]:
math.pow(2,5)

32.0

In [47]:
math.pow(2,4)

16.0

In [48]:
math.pow(56,23)

1.6155656889615733e+40

In [49]:
math.pow(-5,-5)

-0.00032

## sqrt()

In [50]:
math.sqrt(16)

4.0

In [51]:
math.sqrt(256)

16.0

## Triginometry function

In [54]:
math.sin(0)

0.0

In [55]:
math.sin(45)

0.8509035245341184

In [56]:
math.cos(0)

1.0

In [57]:
math.tan(45)

1.6197751905438615

## hypotenius

In [60]:
math.hypot(3,4)

5.0

## Assignment
math.modf()

program to check the prime numbers

progam to check max of three numbers

In [6]:
import math
math.modf(4)
#Return the fractional and integer parts of x.

(0.0, 4.0)

In [10]:
#program to check the prime numbers
num=int(input("Enter the number"))
if(num%2 and num%3 != 0):
    print("the number is prime number")
elif(num==0):
    print("the number is zero")
else:
    print("the number is not prime number")

Enter the number45
the number is not prime number

## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [5]:
#mutable vs immutable
str1="Atg"
print(str1)
type(str1)

Atg

str

In [6]:
str1="check"
print(str1)

check

In [8]:
type("")

str

In [10]:
str1[0]

'c'

In [12]:
# strings are immutable
str1[2] ="e"

TypeError: 'str' object does not support item assignment

In [24]:
# list []
lst=[1,2,3,4,"hi","nice"]
print(lst)
print(lst[4])
lst[4]="hello"
print(lst)
print(lst[4])

[1, 2, 3, 4, 'hi', 'nice']
hi
[1, 2, 3, 4, 'hello', 'nice']
hello

In [31]:
lst=list((1,2,3,4,5))
type(lst)
print(lst)

[1, 2, 3, 4, 5]

In [30]:
del list

In [32]:
lst

[1, 2, 3, 4, 5]

In [34]:
for i in lst:
    print(i**2)

1
4
9
16
25

In [35]:
max(lst)

5

In [36]:
min(lst)

1

## append
viewing inbuilt functions

In [38]:
#.append is used to add elements in the list
lst.append("atg")
lst

[1, 2, 3, 4, 5, 'atg']

In [42]:
lst.append([22,"shikamaru"])
lst

[1,
 2,
 3,
 4,
 5,
 'atg',
 [22, 'shikamaru'],
 [22, 'shikamaru'],
 [22, 'shikamaru'],
 [22, 'shikamaru']]

In [43]:
lst[6]

[22, 'shikamaru']

In [44]:
lst[7][1]

'shikamaru'

In [45]:
lst[2:]

[3,
 4,
 5,
 'atg',
 [22, 'shikamaru'],
 [22, 'shikamaru'],
 [22, 'shikamaru'],
 [22, 'shikamaru']]

In [47]:
lst[:7]

[1, 2, 3, 4, 5, 'atg', [22, 'shikamaru']]

## insert

In [48]:
## insert in a specific order
lst.insert(2,"taMg")

In [49]:
lst

[1,
 2,
 'taMg',
 3,
 4,
 5,
 'atg',
 [22, 'shikamaru'],
 [22, 'shikamaru'],
 [22, 'shikamaru'],
 [22, 'shikamaru']]

## Extend method

In [50]:
lst=[1,2,3,4,5,6]

In [51]:
lst.extend([8,9])

In [52]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## Various Operation that we can perform in list

In [53]:
lst=[1,2,3,4,5,6]

In [54]:
sum(lst)

21

In [55]:
# it gets appended by 5
lst*5

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6]

In [56]:
lst/5

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [58]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0
1.2

## pop() Method

In [59]:
lst.pop()

6

In [60]:
lst

[1, 2, 3, 4, 5]

In [61]:
lst.pop(2)

3

In [62]:
lst

[1, 2, 4, 5]

## count():Calculates total occurrence of given element of List

In [63]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [64]:
#length:Calculates total length of List
len(lst)

6

In [65]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1