## This the first learning video tutorial
--> (python playlist vid -01)

In [1]:
1+2

3

In [2]:
a=10

In [3]:
print(a+5)

15

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## python playlist vid-02

In [8]:
print("hello world")
print("day 2 of learning utsav")

hello world
day 2 of learning utsav

In [21]:
# single line and multiline comments
'''
lets make this festive vacation 
fruitful
'''
print("hello")

hello

In [23]:
# varaible decaration 
a=10
type(a)

int

In [24]:
a

10

In [26]:
hi=10
b=60
c="atg"

In [27]:
type(c)

str

In [31]:
d1= 22

In [33]:
first_name="Ayush"
print(first_name)

Ayush

In [35]:
a=10
b=20
print(a-b)

-10

In [37]:
# typecast converting floating number into integer
a=25.364
type(a)

float

In [38]:
int(a)

25

In [39]:
a

25.364

In [40]:
b

20

In [41]:
float(b)

20.0

In [43]:
#boolean
a1=True
b1=False

In [44]:
type(a1)

bool

In [45]:
a1 and b1

False

In [46]:
a1|b1

True

In [48]:
#stings
name1="hancy"
print(name1)
print(type(name1))

hancy
<class 'str'>

In [49]:
name1+"guffadi"

'hancyguffadi'

In [50]:
name1+str(1)

'hancy1'

In [2]:
#complex numbers
j=1.0-2.3j
j

(1-2.3j)

In [3]:
print(j.real,j.imag)

1.0 -2.3

In [4]:
#Dynamic typing 
a =10
a='ayush'

In [6]:
print(type(a))

<class 'str'>

In [7]:
#strong typing
a="Hello"

In [8]:
a+ "1"

'Hello1'

In [10]:
#string formating
a =100 
print("the value is=",a)

the value is= 100

In [15]:
first_name="Ayush"
last_name="Tamang"
print("The first name is {0} and last name is {1}".format(first_name,last_name))

The first name is Ayush and last name is Tamang

In [16]:
print("The first name is {1} and last name is {0}".format(first_name,last_name))

The first name is Tamang and last name is Ayush

In [17]:
print("The first name is {a} and last name is {b}".format(a=first_name, b=last_name))

The first name is Ayush and last name is Tamang

In [1]:
# input type
a=input("enter the number A ")
b= input("enter the number B ")
print(int(a)+int(b))

enter the number A 45
enter the number B 54
99

# python playlist vid- 03

In [8]:
# if else statement 
val=input("Enter the number")
value_float=float(val)
if(value_float%2 == 0):
    print("The number is even")
else:
    print("the number is odd")

Enter the number45
the number is odd

In [10]:
## Age form
##nested if else condition
age= float(input("Enter the age"))

if(age<18):
    print("Minor Age")
elif(age>18 and age<=35):
    print("Mid Age")
elif(age>45 and age<=50):
    print("senior Mid Age")
else:
    print("Senior Citizen")

Enter the age33
Mid Age

In [2]:
##nested if else
age= float(input("Enter the age "))

if(age<18):
    print("Minor Age")
    if(age<15):
        print("your are in School")
    else:
        print("you are in college")
elif(age>18 and age<=35):
    print("Mid Age")
elif(age>45 and age<=50):
    print("senior Mid Age")
else:
    print("Senior Citizen")

Enter the age 17
Minor Age
you are in college

In [5]:
##loops statement
#for loop, while loop
lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i**2)

1
4
9
16
25
36
49

In [7]:
#find the sum of all the elements in the list
lst=[1,2,3,4,5,6,7]
sum1 = 0
for i in lst:
    sum1 = sum1 + i
print(sum1)

28

In [ ]:
lst=[1,2,3,4,5,6,7]
sum1 = 0
for i in lst:
    sum1 = sum1 + i
    print(sum1)

In [18]:
#find the sum of even and odd number
lst=[1,2,3,4,5,6,7]
even_sum=0 
odd_sum =0
for i in lst:
    if(i%2==0):
        even_sum= even_sum+i
    else:
        odd_sum= odd_sum+ i
print(even_sum)
print(odd_sum)
# or by using string formating
print("Even sum is {} and odd sum is {}".format(even_sum, odd_sum))

12
16
Even sum is 12 and odd sum is 16

In [20]:
##while condition 
i =0
even_sum =0
odd_sum=0
while(i<=10):
    if(i%2==0):
        even_sum= even_sum+i
    else:
        odd_sum= odd_sum+ i
    i = i+1
print(even_sum,odd_sum)

30 25

In [24]:
#break 
x = 1
while(x<7):
    print(x)
       
    x=x+1

1
2
3
4
5
6

In [25]:
x = 1
while(x<7):
    print(x)
    if(x==4):
        break
       
    x=x+1

1
2
3
4

In [28]:
x = 1
while(x<7):
    
    if(x==4):
        break
    print(x)
       
    x=x+1

1
2
3

In [2]:
# continue(skips the statement)
x=0
while(x<7):
    x=x+1
    if(x==4):
        continue
    print(x)

1
2
3
5
6
7

## python playlist vid- 04

### python operators
- logical

- equality

- comparision

- Airthmetic

 ### 4.1.1 Logical Operators,
In python following keywords are used for boolean operations -

    Keywords	Meaning
    not	unary negation
    and	conditional AND
    or	conditional OR

In [11]:
type(False)

bool

In [4]:
bool(1)

True

In [5]:
a = True
b =False

In [6]:
True and False

False

In [7]:
True or False

True

In [8]:
not False

True

In [9]:
age = int(input("Enter the age"))
if(age>18 and age<=35):
    print("mid age")

Enter the age21
mid age

In [10]:
age = int(input("Enter the age"))
if(age>18 or age<=35):
    print("success")

Enter the age15
success

## Equality Operators
Following operations are present in python for equlity check operation-

| Operators | Meaning                                                                 |
|-----------|-------------------------------------------------------------------------|
| `is`      | `a is b` returns true if variable/identifiers `a` and `b` point to the same object  |
| `is not`  | `a is not b` returns true if variable/identifiers `a` and `b` point to different objects |
| `==`      | `a == b` returns true if variable/identifiers `a` and `b` have the same value   |
| `!=`      | `a != b` returns true if variable/identifiers `a` and `b` have different values |

In [12]:
a = "atg"
b = "atg"
a==b

True

In [13]:
a = "atg"
b = "atg1"
a==b

False

In [15]:
age=int(input("Enter the  age"))
if age ==18:
    print("you are teen")

Enter the  age18
you are teen

In [26]:
a = "atg"
b = "atg"
print(id(a))
print(id(b))

2598666911344
2598666911344

In [27]:
a is b

True

In [28]:
a == b

True

In [30]:
lst1 =[1,2,3]
lst2 =[1,2,3]
print(id(lst1))
print(id(lst2))

2598667679232
2598667574144

In [31]:
lst1 == lst2

True

In [32]:
lst1 is lst2

False

In [33]:
lst1 is not lst2

True